<div class="hero-unit">
	<% if user_signed_in? %>
		<h1>Create a new manga!</h1>
		<% form_for @manga, :html => { :multipart => true } do |f| %>
			<p><%= f.label :title %></p>
			<p><%= f.text_field :title %></p>
			<p><%= f.label :summary %></p>
			<p><%= f.text_area :summary %></p>
			<p><%= f.submit :submit %></p>
		<% end %>
	<% else %>
		<h1>Please sign in first buddy!</h1>
	<% end %>
</div>
