<footer>
<nav>
	<ul>
		<li><%= link_to "Home", "/" %></li>
		<li><%= link_to "About", "/about" %></li>
		<li><%= link_to "Help", "/help" %></li>
		<li><%= link_to "Contact", "/contact" %></li>
		<li><%= link_to "Developer", "/developer" %></li>
	</ul>
</nav>
</footer>
