<header>
<nav>
	<ul>
		<li><%= link_to "Home", "/" %></li>
		<li><%= link_to "Manga List", mangas_path %></li>
		<li><%= link_to "Showcase", "#" %></li>
		<% if user_signed_in? %>
			<li><%= link_to "My Dashboard", current_user_path %></li>
			<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
		<% end %>
	</ul>
</nav>
</header>
