<div class="hero-unit">
	<% if user_signed_in? %>
		<h3><%= "New Chapter for #{@manga.title}" %></h3>
		<% form_for( [@manga, @chapter], :html => { :multipart => true } ) do |f| %>
			<p><%= f.label :title %>
			<%= f.text_field :title %></p>
			<p><%= f.label :chapter_number %>
			<%= f.text_field :chapter_number %></p>
			<p><%= f.submit :submit %></p>
		<% end %>
	<% else %>
		<h1>Please sign in first buddy!</h1>
		<p><%= link_to "Sign In »", signin_path, :class => "btn primary large" %></p>
	<% end %>
</div>

