<h1><%= @chapter.title %></h1>
<p><%= "Chapter #{@chapter.chapter_number} of #{@manga.title}" %></p>
<%= will_paginate @komas %>
<% @komas.each do |koma| %>
	<%= link_to "Koma test link", manga_path(@manga) + chapter_path(@chapter) + koma_path(koma) %>
	<%= render koma, :koma => koma %>
<% end %>
<%= will_paginate @komas %>
<% if @correct_user %>
	<%= link_to "Add Another Koma!", manga_path(@manga) + chapter_path(@chapter) + new_koma_path %>	
<% else %>

<% end %>



